In [1]:
import pandas as pd

df = pd.read_csv("data/vine_table.csv")

In [2]:
df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5.0,0.0,0.0,N,Y
1,R3NU7OMZ4HQIEG,2.0,0.0,1.0,N,Y
2,R14QJW3XF8QO1P,5.0,0.0,0.0,N,Y
3,R2HB7AX0394ZGY,5.0,0.0,0.0,N,Y
4,RGKMPDQGSAHR3,5.0,0.0,0.0,N,Y

In [3]:
#STEP 1
#Filter the data and create a new DataFrame or table to retrieve all the rows where 
#the total_votes count is equal to or greater than 20 to pick reviews that are more
#likely to be helpful and to avoid having division by zero errors later on.

df_votes_20 = df[df['total_votes']>=20]
df_votes_20.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y

In [36]:
#STEP 2
#Filter the new DataFrame or table created in Step 1 and create a new DataFrame
#or table to retrieve all the rows where the number of helpful_votes divided by
#total_votes is equal to or greater than 50%.

df_votes_20["temp"] = df_votes_20["helpful_votes"] / df_votes_20["total_votes"]

df_helpvotes_50 = df_votes_20[df_votes_20['temp']>=.50]
del df_votes_20['temp']
del df_helpvotes_50['temp']
df_helpvotes_50.head(20)

G:\Programs\Anaconda\envs\PhytonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y
1169,R3VQPJZ54B55BA,5.0,62.0,64.0,N,N
1238,R24QM6D7FEDZ5M,2.0,36.0,43.0,N,Y
1254,R3A1VQ3SQDXEJ3,5.0,20.0,20.0,N,Y
1311,R39GSNW76GYF,1.0,20.0,23.0,N,Y
1493,RPJLR6MFDPXXE,5.0,35.0,36.0,N,Y
1637,R34X0ZGVB3YGYO,5.0,47.0,47.0,N,Y
1946,R2C9O1BOV14Q0Z,1.0,62.0,79.0,N,Y
1968,RM6ZH5J3XDNHK,5.0,79.0,87.0,N,Y
2129,R2E363K75EMW4K,5.0,66.0,69.0,N,Y
2413,R2VJII8VKSJHDF,1.0,24.0,29.0,N,N
2508,R2U35Y2P27M13E,1.0,43.0,45.0,N,Y
2558,RLMZOQL11VHBX,5.0,23.0,24.0,N,Y
2647,R3C6CQQRRA8SYP,5.0,52.0,58.0,N,Y
2672,R3T7YOX0AEDZL3,1.0,45.0,47.0,N,N
2699,R176V3AYS3R4HG,5.0,26.0,27.0,N,N

In [37]:
# STEP3
#Filter the DataFrame or table created in Step 2, and create a new DataFrame or table that retrieves
#all the rows where a review was written as part of the Vine program (paid), vine == 'Y'.

df_vines_yes = df_helpvotes_50[df_helpvotes_50['vine'] == "Y"]
df_vines_yes.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
8547,R3A71VR1JZD8WF,2.0,27.0,30.0,Y,N
10246,R16OMUJIGI18JZ,5.0,72.0,72.0,Y,N
25168,R3TS8ZP2FHQ9XR,5.0,39.0,42.0,Y,N
46422,R2MHP919VZN7DI,5.0,29.0,30.0,Y,N
66446,RD2BCTVS59A5L,2.0,20.0,20.0,Y,N
79454,R1JUJLXQ2CMWKF,4.0,25.0,26.0,Y,N
83480,R2T7YE0IFI6N9L,3.0,24.0,25.0,Y,N
221844,R25FI3J7WWOYXM,3.0,55.0,58.0,Y,N
226343,R3P3U4EOWIUD50,3.0,27.0,36.0,Y,N
240986,R3C7MKX7MO6XUC,5.0,216.0,219.0,Y,N

In [38]:
#STEP 4
#Repeat Step 3, but this time retrieve all the rows where the review was not part of the 
#Vine program (unpaid), vine == 'N'.
df_vines_no = df_helpvotes_50[df_helpvotes_50['vine'] == "N"]
df_vines_no.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y
1169,R3VQPJZ54B55BA,5.0,62.0,64.0,N,N
1238,R24QM6D7FEDZ5M,2.0,36.0,43.0,N,Y
1254,R3A1VQ3SQDXEJ3,5.0,20.0,20.0,N,Y
1311,R39GSNW76GYF,1.0,20.0,23.0,N,Y
1493,RPJLR6MFDPXXE,5.0,35.0,36.0,N,Y

In [39]:
#STEP 5
#Determine the total number of reviews, the number of 5-star reviews, and the percentage of 
#5-star reviews for the two types of review (paid vs unpaid).

review_total = len(df_votes_20)
review_5star = len(df_votes_20[df_votes_20['star_rating']==5.0])
review_paid_percent = len(df_vines_yes[df_vines_yes['star_rating']==5.0]) / len(df_votes_20[df_votes_20['vine']=='Y']) * 100
review_not_paid_percent = len(df_vines_no[df_vines_no['star_rating']==5.0]) / len(df_votes_20[df_votes_20['vine']=='N']) * 100

print("Total Reviews: " + str(len(df)))
print("Total Reliable Reviews: " + str(review_total))
print("Total 5 Star Reviews: "+str(review_5star))
print("Total Reliable Paid Reviews: "+str(len(df_votes_20[df_votes_20['vine']=='Y'])))
print("Total Reliable Non-Paid Reviews: "+str(len(df_votes_20[df_votes_20['vine']=='N'])))
print("Percentage of 5 Star Reviews for Paid Reviews: "+str(review_paid_percent))
print("Percentage of 5 Star Reviews for Unpaid Reviews: "+str(review_not_paid_percent))
print("Number of Paid 5 star reviews: "+str(len(df_vines_yes[df_vines_yes['star_rating']==5.0])))
print("Number of Unpaid 5 star reviews: "+str(len(df_vines_no[df_vines_no['star_rating']==5.0])))
print("Number of Paid 1 star reviews: "+str(len(df_vines_yes[df_vines_yes['star_rating']==1.0]) / len(df_votes_20[df_votes_20['vine']=='Y'])* 100))
print("Number of Unpaid 1 star reviews: "+str(len(df_vines_no[df_vines_no['star_rating']==1.0]) / len(df_votes_20[df_votes_20['vine']=='N'])* 100))

Total Reviews: 2643619
Total Reliable Reviews: 39376
Total 5 Star Reviews: 20797
Total Reliable Paid Reviews: 172
Total Reliable Non-Paid Reviews: 39204
Percentage of 5 Star Reviews for Paid Reviews: 37.7906976744186
Percentage of 5 Star Reviews for Unpaid Reviews: 52.57626772778288
Number of Paid 5 star reviews: 65
Number of Unpaid 5 star reviews: 20612
Number of Paid 1 star reviews: 3.488372093023256
Number of Unpaid 1 star reviews: 19.306703397612488