## Deliverable 2. Create a Customer Travel Destinations Map.

In [86]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [87]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Tuktoyaktuk,CA,69.45,-133.04,42.80,70,20,9.17,few clouds
1,1,West Odessa,US,31.84,-102.50,91.40,27,1,17.22,clear sky
2,2,Geraldton,AU,-28.77,114.60,59.00,82,90,16.11,overcast clouds
3,3,Busselton,AU,-33.65,115.33,46.99,95,25,1.99,light rain
4,4,Talnakh,RU,69.49,88.40,44.60,93,73,8.95,broken clouds

In [88]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the mmaximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the mmaximum temperature you would like for your trip? 90

In [89]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Geraldton,AU,-28.77,114.60,59.00,82,90,16.11,overcast clouds
6,6,Sambava,MG,-14.27,50.17,65.64,80,0,8.57,clear sky
7,7,Cape Town,ZA,-33.93,18.42,57.20,82,0,6.93,clear sky
9,9,Atuona,PF,-9.80,-139.03,78.42,74,85,17.65,overcast clouds
11,11,Port Hardy,CA,50.70,-127.42,62.60,88,75,9.17,broken clouds
12,12,Axim,GH,4.87,-2.24,75.09,87,51,7.78,broken clouds
14,14,Puerto Ayora,EC,-0.74,-90.35,68.00,89,88,5.99,overcast clouds
15,15,Rikitea,PF,-23.12,-134.97,73.42,84,0,12.62,clear sky
19,19,Quthing,LS,-30.40,27.70,53.89,76,81,3.22,light rain
20,20,Nouadhibou,MR,20.93,-17.03,80.60,61,100,12.75,overcast clouds

In [90]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                601
City                   601
Country                595
Lat                    601
Lng                    601
Max Temp               601
Humidity               601
Cloudiness             601
Wind Speed             601
Current Description    601
dtype: int64

In [91]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df[preferred_cities_df[['City', 'Country', 'Lat','Lng', 'Max Temp', 'Humidity', 'Cloudiness','Wind Speed', 'Current Description']].notnull().all(1)]
clean_df.count()

City_ID                595
City                   595
Country                595
Lat                    595
Lng                    595
Max Temp               595
Humidity               595
Cloudiness             595
Wind Speed             595
Current Description    595
dtype: int64

In [92]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Geraldton,AU,59.00,overcast clouds,-28.77,114.60,
6,Sambava,MG,65.64,clear sky,-14.27,50.17,
7,Cape Town,ZA,57.20,clear sky,-33.93,18.42,
9,Atuona,PF,78.42,overcast clouds,-9.80,-139.03,
11,Port Hardy,CA,62.60,broken clouds,50.70,-127.42,
12,Axim,GH,75.09,broken clouds,4.87,-2.24,
14,Puerto Ayora,EC,68.00,overcast clouds,-0.74,-90.35,
15,Rikitea,PF,73.42,clear sky,-23.12,-134.97,
19,Quthing,LS,53.89,light rain,-30.40,27.70,
20,Nouadhibou,MR,80.60,overcast clouds,20.93,-17.03,

In [96]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    "location":"1.1,1.1"
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    params["location"]= f"{lat},{lng}"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
      hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
      print("Hotel not found... skipping."  )
    except (TimeoutError ):
      PRINT("TIMEOUT")
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
-----------------------------
Data Retrieval Complete
-----------------------------

In [98]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
clean_hotel_df= hotel_df[hotel_df[['City', 'Country', 'Max Temp','Current Description', 'Lat', 'Lng', 'Hotel Name']].notnull().all(1)]
#hotel_df.dropna(subset =['Hotel Name'], inplace = True)
clean_hotel_df.head(50)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Geraldton,AU,59.00,overcast clouds,-28.77,114.60,Broadwater Mariner Resort
6,Sambava,MG,65.64,clear sky,-14.27,50.17,Melrose
7,Cape Town,ZA,57.20,clear sky,-33.93,18.42,Southern Sun Waterfront Cape Town
9,Atuona,PF,78.42,overcast clouds,-9.80,-139.03,Villa Enata
11,Port Hardy,CA,62.60,broken clouds,50.70,-127.42,Airport Inn
12,Axim,GH,75.09,broken clouds,4.87,-2.24,AXIM BEACH RESORT AND SPA
14,Puerto Ayora,EC,68.00,overcast clouds,-0.74,-90.35,Finch Bay Galapagos Hotel
15,Rikitea,PF,73.42,clear sky,-23.12,-134.97,Pension Maro'i
19,Quthing,LS,53.89,light rain,-30.40,27.70,Mountainside Hotel
20,Nouadhibou,MR,80.60,overcast clouds,20.93,-17.03,El Medina
21,East London,ZA,63.16,overcast clouds,-33.02,27.91,Tu Casa
23,Kodiak,US,55.40,heavy intensity rain,57.79,-152.41,Best Western Kodiak Inn and Convention Center
24,Mount Isa,AU,77.00,clear sky,-20.73,139.50,ibis Styles Mt Isa Verona
25,Codrington,AU,57.22,few clouds,-38.27,141.97,Codrington Gardens Bed And Breakfast
26,Fraga,ES,66.00,broken clouds,41.52,0.35,Hotel Casanova
27,Jamestown,US,68.00,clear sky,42.10,-79.24,Hampton Inn & Suites Jamestown
29,Crixas,BR,79.45,clear sky,-14.55,-49.97,RISO HOTEL
30,Berlevag,NO,50.00,broken clouds,70.86,29.09,Kvitbrakka
31,Calvinia,ZA,53.62,clear sky,-31.47,19.78,Die Lemoenhuis
32,Anloga,GH,77.00,scattered clouds,5.79,0.90,Dey Lodge
33,Butaritari,KI,83.89,overcast clouds,3.07,172.79,Isles Sunset Lodge
34,Kuchinarai,TH,82.00,few clouds,16.54,104.05,โรงแรมแสงชัย
35,Porto Novo,BJ,75.27,broken clouds,6.50,2.60,Tour Eiffel Hotel Benin
36,Bengkulu,ID,75.02,overcast clouds,-3.80,102.27,Grage Hotel Bengkulu
39,Xai-Xai,MZ,61.56,clear sky,-25.05,33.64,Platinum Hotel
40,Cayenne,GF,80.60,scattered clouds,4.93,-52.33,Hôtel Le Dronmi
41,Hilo,US,87.80,clear sky,19.73,-155.09,Hilo Hawaiian Hotel
43,Avarua,CK,73.40,scattered clouds,-21.21,-159.78,Paradise Inn
44,Bud,US,77.00,clear sky,39.45,-86.18,Madsion Scouts Camp
45,Beirut,LB,82.40,clear sky,33.89,35.49,Crowne Plaza Beirut
48,Sibolga,ID,76.10,overcast clouds,1.74,98.78,Hotel Syariah CN Darussalam
49,Port Alfred,ZA,59.00,scattered clouds,-33.59,26.89,The Halyards Hotel
50,Biltine,TD,78.51,clear sky,14.53,20.92,Hôtel Trois Étoiles de Biltine
53,Airai,TL,62.96,few clouds,-8.93,125.41,Juvinal Martin
54,Coquimbo,CL,55.40,overcast clouds,-29.95,-71.34,Hotel San Juan
56,Hermanus,ZA,55.99,clear sky,-34.42,19.23,Misty Waves Boutique Hotel
59,Port-Gentil,GA,77.00,scattered clouds,-0.72,8.78,Fengshui Residence
61,Yaring,TH,77.81,heavy intensity rain,6.87,101.37,My Home Pokku
62,Alto Longa,BR,81.50,broken clouds,-5.25,-42.21,pousada E Restaurante Longá
63,Phangnga,TH,77.00,few clouds,8.45,98.53,Rattanapong Hotel
66,Kapaa,US,86.00,few clouds,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
67,Kavieng,PG,83.12,light rain,-2.57,150.80,Nusa Island Retreat
68,Isangel,VU,75.92,overcast clouds,-19.55,169.27,Volcano Sea View Tree House
71,Sao Lourenco Do Sul,BR,55.99,overcast clouds,-31.37,-51.98,Hotel Pousada Verde Água
72,Castro,BR,65.52,clear sky,-24.79,-50.01,CHACARA BAILLY
73,Truro,GB,57.99,broken clouds,50.27,-5.05,Mannings Hotel
74,Cabo San Lucas,MX,84.99,scattered clouds,22.89,-109.91,Hotel Tesoro Los Cabos
76,Nikolskoye,RU,54.00,clear sky,59.70,30.79,Tourist House - Sablino
77,Bima,ID,74.77,few clouds,-8.47,118.72,Lambitu Hotel
79,Terrace Bay,CA,56.91,overcast clouds,48.78,-87.10,Drifters Motel & Restaurant

In [99]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [101]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [102]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))